/** ---   ---*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#fff;
    box-shadow:0 4px 25px -22px black;
    z-index:2;
}
.header-content{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content: space-between;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    height: 80px;
 }
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu nav ul li:before{
content: '';
width: 100%;
height: 4px;
background: #46a2fd;
position: absolute;
top: 0;
left: 0;
}
.menu nav ul li a{
    color: #777777;
    transition: color 300ms;
}
.menu nav ul li a:hover{    
    color: red;
}

/** ----    
h1 {
    font-family: arial;
    text-align: center;
    font-size: 22px;
    color:black;
  }
h2 {
    font-family: tahoma;
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    color:black;
 }

  ---- */

/** ----  PORTADA   ---- */

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    top:80px;
    background-image: url(../imagenes/Titulo2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-cover:before{
    content: '';
    width:100%;
    height:100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max.width:800px;
    heigth: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/** BODY STYLE ALL ------ 


DEPURADO------------------

    .BODY {
        background-color: red;
        margin: auto;
        }
--------------DEPURADO

/** BODY STYLE ALL ------ 

.box_imagen{
    padding: auto;
    margin: center;
    position: absolute;
}
.box_h1{
    padding-left: 10%;
    margin-top: 1px;
}

.DATOS_VISITA {
    background-color: linear-gradient(to top, transparent,black, white);
    margin:0%;
}
.DATOS_VISITA_LABEL {
    background-color:red;
    margin:0.5%;
    font-family: tahoma;
    font-size: 0.8em;
    color: white;
}
.DATOS_VISITA_INPUT {
    background-color:white;
    margin:0.5%;
    border-style:hidden;
    border-radius: 5px;
    font-family: arial;
    color:grey;
}
.datos_visita_label_input {
    background-color:white;
    margin:0.5%;
    font-family: arial;
    font-size: 14px;
}
.BODY {
    background-color: red;
    margin: auto;
    }
.box_imagen{
    padding: auto;
    margin: center;
    position: absolute;
}
.box_h1{
    padding-left: 10%;
    margin-top: 1px;
}
h1 {
    font-family: arial;
    text-align: center;
    font-size: 22px;
    color:black;
  }
h2 {
    font-family: tahoma;
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    color:black;
 }
.DATOS_VISITA {
    background-color: linear-gradient(to top, transparent,black, white);
    margin:0%;
}
.DATOS_VISITA_LABEL {
    background-color:red;
    margin:0.5%;
    font-family: tahoma;
    font-size: 0.8em;
    color: white;
}
.DATOS_VISITA_INPUT {
    background-color:white;
    margin:0.5%;
    border-style:hidden;
    border-radius: 5px;
    font-family: arial;
    color:grey;
}
.datos_visita_label_input {
    background-color:white;
    margin:0.5%;
    font-family: arial;
    font-size: 14px;
}
.Subtitulos {
    font-family: tahoma;
    text-align: left;
    font-weight: normal;
    font-size: 1em;
    color:white;
}
.Contenido {
    font-family: tahoma;
    text-align: left;
    font-weight: normal;
    font-size: 1em;
    color:white;
}
h3 {
    font-family: Arial;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    color:white;
 }
    --------------------------- */
